@charset "UTF-8";

/*
*   Title:「 シークレットメモ 」要素CSS
*   File Nmae: secret_memo.css
*/
.split_area .secret_memo_contents {
  height: calc(50%);
}

.secret_memo_area{
    height: calc(100vh - 180px);
    width: 300px;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 100000002;
    display: none;
	box-shadow: 6px 6px 3px 1px rgba(120, 120, 120, 0.5) !important;
	border: none;
}

.secret_memo_contents{
	height: 100%;
	width: 100%;
}

.secret_memo_head{
    width: 100%;
    border-bottom: solid 1px #DBDBDB;
    height: 32px;
    line-height: 32p;
    margin: auto;
    font-size: 11px;
    color: #B2B2B2;
}

.secret_memo_head_left{
	float: left;
	margin-left: 16px;
	margin-top: 7px;
}

.secret_memo_head_right{
	float: right;
	margin-top: 7px;
    margin-right: 9px;
    background-color:rgba(232,232,232,1);
}

.secret_memo_head_right:hover{
	cursor: pointer;
}

.secret_memo_title{
	margin-left: 10px;
	font-size: 15px;
	color: #333333;
}

.secret_memo_close{
	color: #B2B2B2;
    font-size: 12px;
}

.secret_memo_text_area{
    height: calc(100% - 110px);
    width: 90%;
    margin: auto;
    padding-top: 10px;
}

textarea.secret_memo_text{
	width: 98%;
	height: 100%;
	resize: none;
	border:none;
	font-size: 11px;
	outline: none;
	/*background-color:rgba(204,204,204,0.2);*/ /* rgbaを使うとtextareaをフォーカスした時に背景が透明でなくなってしまう */
	opacity: 0.6; /* rgbaの問題を解決するためにopacityを使う */

	-webkit-user-select: auto;  /* Chrome or Safari */
	-moz-user-select: text;     /* FireFox */
	-ms-user-select: text;      /* IE */
	-o-user-select: text;       /* Opera */
	user-select: text;
}

div.secret_memo_icon_area{
	width: 100%;
    margin-top: 20px;
    border-top: solid 1px #DBDBDB;
}
div.secret_memo_icon_area span{
    border: 1px solid #DCDCDC;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 8px 7px 7px;
    width: 25px;
    text-align: center;
    vertical-align: bottom;
	color: #a7a7a7;
	float: left;
}

div.secret_memo_icon_area span img{
	width: 20px;
	height: 20px;
}

span.icon_download{
	padding: 10px 10px;
	border-radius: 4px;
	margin-right: 10px;
}

span.secret_memo_fontsize{
	font-size : 20px;
	cursor: pointer;
}
span.secret_memo_fontsize:HOVER{
	color: #ffaa00;
}
span.secret_memo_change_fontsize_small{
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
span.secret_memo_change_fontsize_large{
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.secret_memo_left_icon_area{
	float: left;
    margin-top: 6px;
    margin-left: 9px;
    background-color:rgba(232,232,232,1);
}

.right_icon_area{
	float: right;
	margin-right: 40px;
}

.clear_both{
	clear: both;
}
