body {
	height: 100vh;
	overflow: hidden;
}


.error__small {
	font-family: HiraginoSans-W4;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #df6a6e;
	margin-top: 20px
}

.lodingimg_efect_wrap {
	width: 200px;
	height: 200px;
	display: block;
	position: relative;
}
.loding_text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 10px;
	letter-spacing: 2px;
}
.lodingimg_efect {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.lodingimg_efect:after {
	display: block;
	position: relative;
	width: 130px;
	height: 130px;
	-webkit-animation: rotate 1.5s linear infinite;
	-moz-animation: rotate 1.5s linear infinite;
	-ms-animation: rotate 1.5s linear infinite;
	-o-animation: rotate 1.5s linear infinite;
	animation: rotate 1.5s linear infinite;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	border-top: 2px solid #a3a2a9;
	border-bottom: 2px solid #ffaa00;
	border-left: 2px solid #a3a2a9;
	border-right: 2px solid #ffaa00;
	content: '';
}
@-webkit-keyframes rotate {
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotate {
	0% {-moz-transform: rotate(0deg);}
	100% {-moz-transform: rotate(360deg);}
}
@-ms-keyframes rotate {
	0% {-ms-transform: rotate(0deg);}
	100% {-ms-transform: rotate(360deg);}
}
@-o-keyframes rotate {
	0% {-o-transform: rotate(0deg);}
	100% {-o-transform: rotate(360deg);}
}
@keyframes rotate {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}



#mi_wrap {
	position:relative;
	height: 100vh;
}

#mi_main_contents {
	position:absolute;

	width: 950px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border-radius: 5px;

	top: 50%;
	left: 50%;
	-webkit-transform : translate(-50%,-50%);
	transform : translate(-50%,-50%);

	min-height: unset;
	box-sizing: border-box;
	padding: 37px 50px;
}

#mi_content_area {
	margin: 0;
	padding: 0;
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: space-between;
}

.content-left {

}

.content-left .content-media {
	position:relative;
	width: 448px;
	height: 252px;
	background: #373128 0% 0% no-repeat padding-box;
	border-radius: 5px;
}

.content-left .content-media .video-gradient {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	background: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.9));
}

#video_target_video_1 {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width:448px;
	height:252px;
}

.upper-top-menu {
	position:absolute;
	top: 10px;
	right: 10px;
	display: flex;
}

.upper-top-menu-img {
	width: 20px;
	height: 20px;
}

.bottom-menu {
	position:absolute;
	bottom: 20px;

	display: flex;
	left: 50%;
	transform: translateX(-50%);
}

.bottom-menu-img-mic {
	width: 14px;
	height: 19px;
}

.bottom-menu-img-video {
	width: 19px;
	height: 14px;
}


#button_setting_mic {
	margin-right: 20px;
}

.cycle {
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(255, 255, 255, 0);
}
.cycle:hover {
	background-color: rgba(255, 255, 255, 0.4);
}
.cycle.none-active{
	background-color: rgba(198, 90, 79, 1);
}
.cycle.none-active:hover {
	background-color: rgba(198, 90, 79, 0.4);
}
.upper-top-menu .cycle {
	width: 35px;
	height: 35px;
}
.bottom-menu .cycle {
	border: 1px solid #FFFFFF;
	width: 35px;
	height: 35px;
}
.bottom-menu .cycle.none-active {
	border: 1px solid rgba(198, 90, 79, 1);
}
.bottom-menu .cycle.none-active:hover {
	border: 1px solid rgba(198, 90, 79, 0.4);
}
.content-right {
	position:relative;
	width: 400px;
	margin: auto 0px;
}

.content-right span {
    width: 200px;
}

#case-loading {
	display: flex;
	align-items: center;
}

#case-connection {
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
}

#case-connection span {
	display: inline-block;
	padding-bottom: 20px;
}
#case-connection span:empty {
	display: none;
}

#case-connection-failure {
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
	width: 350px;
}

#case-connection-failure .text + span {
	font-size: 12px;
}

#case-connection-failure span {
	display: inline-block;
	padding: 20px 0;
	width: initial; 
}

#case-connection-failure a {
	color: #FFAA00; 
}

#case-connection-failure span:empty {
	display: none;
}

#input-name-area {
	padding-bottom: 28px
}
#input-name-area input,
#input-name-area-waiting input {
	width: 336px;
	height: 40px;
	padding-left: 16px;
	font-size: 16px;
	border: 1px solid #e8e8e8;
}

#case-waiting-btn-area,
#case-connection-btn-area {
	display: flex;
}
.btn-waiting-host-room,
.btn-join-room {
	width: 160px;
	height: 32px;
}

.btn-leave-room {
	width: 160px;
	height: 32px;
	color: #fff;
	background-color: #b1b1b1;
	border: 1px solid #DCDCDC
}

#case-waiting .btn-waiting-host-room, 
#case-host-waiting .btn-waiting-host-room, 
#case-connection .btn-join-room {
	margin-left: 32px;
}

#case-waiting,
#case-host-waiting {
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
}
#case-host-waiting div,
#case-waiting div {
	margin-top: 30px;
	text-align: center;
}

.icon_help {
	width: 18px;
	height: 18px;
	margin-left: 5px;
}


.ui-widget-overlay {
	background: #aaaaaa;
}


input[type="range" i]::-webkit-slider-container {
	background: #fff;
}
input[type="range"]:focus {
	outline: none;
}



.non_reccomend_modal {
	position: relative;
	z-index: 50;
	background: rgba(120, 120, 120, 0.5) 0% 0% no-repeat padding-box;
	width: 100%;
	height: 100%;
	text-align: center;
}
.non_reccomend_modal .content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
	border-radius: 5px;
	padding: 30px 50px;
}
.non_reccomend_modal .content .title {
	font-size: 16px;
	font-weight: 600;
	color: rgba(51, 51, 51, 1);
	letter-spacing: 0px;

	margin-bottom: 20px;
}
.non_reccomend_modal .content .attention {
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 20px;
}
.non_reccomend_modal .content .cause {
	margin-bottom: 30px;
	text-align: left;
	font-weight: 600;
	font-size: 12px;
	letter-spacing: 0px;
	line-height: 1.67;
	margin: 0 auto 30px;
	width: max-content;
}
.non_reccomend_modal .content .link {
	font-size: 16px;
	color: rgba(255, 170, 0, 1);
	letter-spacing: 0px;
	margin-bottom: 44px;
}

.non_reccomend_modal .content .button {
	width: 200px;
	height: 42px;
	margin: 0 110px;
}

#case-lock-enter-request {
	width: 448px;
	text-align: center;
}

#case-lock-enter-request h3 {
	font: normal normal normal 18px/17px Hiragino Sans;
	letter-spacing: 0px;
	color: #FFAA00;
	margin-bottom: 20px;
}

#case-lock-enter-request .text {
	font: normal normal normal 14px/20px Hiragino Kaku Gothic ProN;
	letter-spacing: 0px;
	color: #333333;
	line-height: 1.42;
	margin-bottom: 20px;
	box-sizing: border-box;
}

#case-lock-enter-request #input-name-area {
	padding-bottom: unset;
}

#case-lock-enter-request #input-name-area input {
	box-sizing: border-box;
}

#case-lock-enter-request #case-connection-btn-area {
	justify-content: space-between;
	margin: 20px auto 0;
	width: 336px;
}

#case-lock-response-wait .text {
	box-sizing: border-box;
	width: 300px;
	text-align: center;
	font: normal normal normal 14px/17px Hiragino Sans;
	font-weight: bold;
	letter-spacing: 0px;
	color: #FFAA00;
	margin: 0 auto;
	line-height: 2;
	padding-left: 60px;

	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

#case-lock-response-wait .case-lock-response-wait-btn-area {
	text-align: center;
	margin: 25px auto 0;
	padding-left: 60px;
}


#case-lock-enter-request-rejected {
	width: 448px;
	text-align: center;
}

#case-lock-enter-request-rejected h3 {
	font: normal normal normal 18px/17px Hiragino Sans;
	letter-spacing: 0px;
	color: #FFAA00;
}

#case-lock-enter-request-rejected .text {
	font: normal normal normal 14px/20px Hiragino Kaku Gothic ProN;
	margin: 20px auto;
	line-height: 1.42;
}

.modal-content .bodypix-inner-wrap {
	height: auto;
	max-height: 60vh;
}

.modal-content-add-bodypix .inner-wrap-add-bodypix {
	height: 95%;
}

.setting_bodypix_contents_area {
    height: calc(100% - 235px) !important;
}

#load_bodypix-modal{
  display: none;
  background:rgba(0,0,0,0.5);
}

.load_bodypix_button {
  margin-left: 5px;
  border-radius: 2px;
  width: 150px
}

.load_bodypix_cancel {
  background-color: #b4b4b4;
  margin-right: 5px;
  border-radius: 2px;
  width: 150px
}


.load_bodypix_button:hover,
.load_bodypix_cancel:hover {
  opacity: 0.7;
}

.load_bodypix_modal_message_wrap {
  text-align: center;
  border-radius: 4px;
  position: fixed;
  margin: auto;
  padding: 10px;
  width: 484px;
  height: 218px;
  top: 0;
  bottom: 170px;
  left: 0;
  right: 0;
  background-color: #fff;
  color: #707070;
}

.load_bodypix_modal_title {
  font-size: 18px;
  font-weight: bold;
  line-height: 2;
  margin-top: 35px;
}
.load_bodypix_message {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 14px;
}

